*{
    font-size: 30px;
}
.content-a {
    background-color: red;
    grid-column: 1/3;
    grid-row: 1/2;
}
.content-b {
    background-color: orangered;
    grid-column: 1/3;
    grid-row: 2/3;
}
.content-c {
    background-color: yellow;
    grid-column: 3;
    grid-row: 1/3;
}
.main{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr ;
    grid-auto-rows: 300px;
    margin: 10px 0px 10px 0px;
}
.footer{
    height: 100px;
    background-color: gray;
}
.header{
    height: 100px;
        background-color: gray;
}
    @media (max-width:749px){  
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 180px;
    }
        .content-a{ 
        grid-column: 1/4;
        grid-row: 1/2;
        }
        .content-b{
        grid-column: 1/4;
            grid-row: 2/3;
        }
    
        .content-c{
        grid-column: 1/4;
            grid-row: 3/4;
        }
    }
    @media (min-width: 750px) and (max-width:1024px)
    {
        .main{
            grid-template-columns:  1fr 1fr 2fr;
        }
    }
    
