* {
    font-size: 30px;
}

.content-a {
    background-color: greenyellow;
    grid-column: 2;
    grid-row: 1;
    
}

.content-b {
    background-color: green;
    grid-column: 1;
    grid-row: 1;
}

.content-c {
    background-color: yellow;
    grid-column: 3;
    grid-row: 1;
}
.wraper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 600px;
    margin: 10px 0px 10px 0px;
}
.footer {
    height: 100px;
    background-color: gray;
}

.header {
    height: 100px;
    background-color: gray;
}
@media (min-width: 750px) and (max-width:1024px){
.content-a {
        background-color: greenyellow;
        grid-column: 1/5;
        grid-row: 1/3;
    }

    .content-b {
        background-color: green;
        grid-column: 1/3;
        grid-row: 3;
    }

    .content-c {
        background-color: yellow;
        grid-column: 3/5 ;
        grid-row: 3;
    }
        .wraper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-rows:  200px;
}
}
@media (max-width:749px) {
    .wraper {
        display: grid;
        grid-template-rows: 300px 100px 100px;
    }

    .content-a {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .content-b {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .content-c {
        grid-column: 1/4;
        grid-row: 3/4;
    }
}